[v-cloak] {
    display: none;
}

html {
    font-family: Arial;
    font-size: 13px;
}

.nav {
    border: 1px solid coral;
    display: flex;
    margin-bottom: 20px;
}

    .nav > a {
        padding: 3px 10px;
        text-decoration: none;
        display: inline-block;
        margin: 0px;
    }

        .nav > a + a {
            border-left: 1px solid coral;
        }

.sel {
    background-color: coral;
    color: white;
    text-decoration: none;
}

.source {
    font-size: 80%;
    margin-top: 20px;
    border-top: 1px solid gray;
    padding-top: 5px;
}

    .source a {
        color: gray;
        text-decoration: none;
    }

        .source a:hover {
            text-decoration: underline;
        }
